.item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
  --anchor: 10%;
}

/* ================= ICON ================= */

.iconWrapper {
  position: absolute;
  left: -34px;
  top: var(--anchor);
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background: var(--dark-black);
  border: 3px solid white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 2;
  margin-left: -0.9rem;
}

.iconImage {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}

/* ================= CARD ================= */

.card {
  position: relative;
  background: var(--light-purple);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
  border-radius: 5px;
  border-bottom: 3px solid white;
  font-family: sans-serif;
  margin-left: 1rem;
}

/* Arrow */
.card::before {
  content: "";
  position: absolute;
  left: -16px;
  top: var(--anchor);
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--light-purple) transparent transparent;
}

/* ================= CONTENT ================= */

.heading {
  font-size: 1.6rem;
}

.stack {
  font-size: 0.85rem;
  color: var(--medium-purple);
  font-weight: 600;
}

.points {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}

.singlePoint {
  font-size: 0.9rem;
  letter-spacing: 1.2px;
}

.date {
  font-size: 0.85rem;
  color: var(--medium-purple);
  font-weight: 600;
}

/* ================= DESKTOP ALTERNATION ================= */

@media (min-width: 700px ) {
  .card {
    max-width: 600px;
  }
}
@media (min-width: 1050px) {
  .item {
    width: 50%;
  }

  /* LEFT items */
  .item:nth-child(odd) {
    align-self: flex-start;
    padding-right: 3rem;
  }

  .item:nth-child(odd) .card {
    margin-left: 0;
  }

  .item:nth-child(odd) .card::before {
    left: auto;
    right: -16px;
    border-color: transparent transparent transparent var(--light-purple);
  }
  .item:nth-child(odd) .date {
    position: absolute;
    top: 1.6rem;
    font-size: 1.25rem;
    right: -20rem
  }

  .item:nth-child(even) {
    align-self: flex-end;
    padding-left: 3rem;
    text-align: left;
  }

  .item:nth-child(even) .iconWrapper {
    left: 0%;
  }

  .item:nth-child(even) .date {
    position: absolute;
    top: 1.6rem;
    font-size: 1.25rem;
    left: -20rem
  }

  .iconWrapper {
    left: 100%;
    transform: translate(-50%, -50%);
    margin-left: 0;
    width: 65px;
    height: 65px;
  }

  .iconImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}
