.skillWrapper {
  background: var(--dark-black);
  padding-bottom: 3rem;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 2.5rem;

  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-bottom: 2.7rem;
  font-weight: 800;
}

.label{
  color: var(--small-text);
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1.2px;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
/* spacing tweaks only */
@media (max-width: 500px) {
  .skillsList {
    gap: 1.8rem;
  }
}

@media (min-width: 600px) {
  .heading {
    font-size: 3rem;
  }
  .skillsList {
    padding-inline: 3rem;
  }
}

@media (min-width: 800px) {
  .heading {
    font-size: 3.5rem;
  }

  .skillsList {
    padding-inline: 5rem;
  }
}
