.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}
.skillName {
  width: 70px;
}
@media(min-width: 600px) {
  .skillImage {
  width: 70;
  height: 70;
}
}

@media(min-width: 800px) {
  .skillImage {
  width: 80;
  height: 80;
}
}

@media(min-width: 1050px) {
  .skillImage {
  width: 90;
  height: 90;
}
}

