.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background:
    linear-gradient(var(--dark-purple), var(--dark-purple)) padding-box,
    linear-gradient(90deg, #d87345, #28bec2) border-box;

  border: 1px solid transparent;
  width: 250px;
  height: 280px;
  border-radius: 20px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 50px;
  text-align: center;
}